# ==================================
# Coffre fort
# ==================================
.env         # Votre fichier de secrets


# Fichiers de cache macOS à ignorer
.DS_Store/
# ==================================